@import 'kit/mixins';
@import 'kit/variables';

@media screen and (max-width: 768px) {
    .footer {
        padding-top: 3.625rem;
    }

    .footer-row {
        @include flex;
        flex-direction: column;

        &__column {
            margin-bottom: 1.813rem;

            &:nth-child(2) {
                margin-bottom: 1.188rem;
            }

            &:last-child {
                flex: 3;
                align-self: center;
            }
        }
    }

    .footer-contacts {
        text-align: center;

        &__address {
            margin-bottom: 1.125rem;
        }
    }
}