@import 'kit/mixins';
@import 'kit/variables';
@import 'kit/toggle-btn';


@media screen and (max-width: 768px) {

    %burger_btn {
        content: '';
        transition: 0.2s ease;
        display: block;
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: $white;
        border-radius: 0.313rem;
    }

    .nav-menu {
        position: fixed;
        top: 0;
        left: 0;
        visibility: hidden;
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        text-align: center;
        background-color: $blue;
        z-index: 3;

        &__item {
            @include flex;
            margin: 0;
            padding: 0.5rem 0;

            &:hover .nav-menu__link::after,
            &--active .nav-menu__link::after {
                visibility: hidden;
            }
        }

        &__burger {
            width: 1.875rem;
            z-index: 4;
            position: relative;

            span,
            span::before,
            span::after {
                @extend %burger_btn;
                top: 40%;
            }

            span::before {
                top: -8px;
            }

            span::after {
                top: 8px;
            }
        }
    }
}