@media screen and (max-width: 768px) {
  .footer {
    padding-top: 3.625rem;
  }

  .footer-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .footer-row__column {
    margin-bottom: 1.813rem;
  }

  .footer-row__column:nth-child(2) {
    margin-bottom: 1.188rem;
  }

  .footer-row__column:last-child {
    -webkit-box-flex: 3;
    -ms-flex: 3;
    flex: 3;
    -ms-flex-item-align: center;
    align-self: center;
  }

  .footer-contacts {
    text-align: center;
  }

  .footer-contacts__address {
    margin-bottom: 1.125rem;
  }
}