@media screen and (max-width: 480px) {
  .video-section {
    background: url("../assets/Learn-more__image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

  .video-section__btn {
    width: 6.25rem;
    height: 6.25rem;
    font-size: 3.375rem;
    margin-bottom: 5.125rem;
  }

  .video-section--title {
    margin-bottom: 5.688rem;
  }
}